body{
    background-color: #becdde;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/*========TITULO========*/
h1, h3{
    font-family: cursive;
    font-weight: bold;
    color: #185905;
}


/*========SLIDER-FOTOS========*/

#imagenes {
 text-align: center;

}